{{#bg-form as |form|}}

  <div>
    Form
    <ul>
      <li>valid: {{form.valid}}</li>
      <li>invalid: {{form.invalid}}</li>
    </ul>
  </div>

  <div>
    {{bg-input
      name="firstName"
      model=user.firstName
    }}
    <ul>
      <li>valid: {{form.firstName.valid}}</li>
      <li>invalid: {{form.firstName.invalid}}</li>
      <li>pristine: {{form.firstName.pristine}}</li>
      <li>dirty: {{form.firstName.dirty}}</li>
      <li>touched: {{form.firstName.touched}}</li>
      <li>untouched: {{form.firstName.untouched}}</li>
      <li>focused: {{form.firstName.focused}}</li>
      <li>blurred: {{form.firstName.blurred}}</li>
      <li>pending: {{form.firstName.pending}}</li>
    </ul>
  </div>

  <div>
    {{bg-input
      name="lastName"
      model=user.lastName
    }}
    <ul>
      <li>valid: {{form.lastName.valid}}</li>
      <li>invalid: {{form.lastName.invalid}}</li>
      <li>pristine: {{form.lastName.pristine}}</li>
      <li>dirty: {{form.lastName.dirty}}</li>
      <li>touched: {{form.lastName.touched}}</li>
      <li>untouched: {{form.lastName.untouched}}</li>
      <li>focused: {{form.lastName.focused}}</li>
      <li>blurred: {{form.lastName.blurred}}</li>
      <li>pending: {{form.lastName.pending}}</li>
    </ul>
  </div>

{{/bg-form}}
